<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sản phẩm</h4>
                    <div class="table-responsive pt-3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Tên sự kiện
                                    </th>
                                    <th>
                                        Hình ảnh
                                    </th>
                                    <th>
                                        Loại
                                    </th>
                                    <th>
                                        Thao tác
                                    </th>
                                </tr>
                            </thead>

                            {{#each data}}
                            <tbody>
                                <tr>
                                    <td>
                                        {{this.banner_id}}
                                    </td>
                                    <td>
                                        {{this.banner_name}}
                                    </td>
                                    <td>
                                        <img src="{{this.banner_image}}" alt="Banner">
                                    </td>
                                    <td>
                                        {{this.banner_type}}
                                    </td>
                                    <td>
                                        <a href="/cms/delete-banner?banner_id={{this.banner_id}}" class="text-sky-500 underline">Xóa</a>
                                    </td>
                                </tr>
                            </tbody>
                            {{/each}}

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>