<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sản phẩm</h4>
                    <div class="table-responsive pt-3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Tên sản phẩm
                                    </th>
                                    <th>
                                        Danh mục
                                    </th>
                                    <th>
                                        Hình ảnh
                                    </th>
                                    <th>
                                        Giá bán
                                    </th>
                                    <th>
                                        Giảm giá
                                    </th>
                                    <th>
                                        Số lượng
                                    </th>
                                    <th>
                                        Thao tác
                                    </th>
                                </tr>
                            </thead>

                            {{#each data}}
                            <tbody>
                                <tr>
                                    <td>
                                        {{@index}}
                                    </td>
                                    <td>
                                        {{this.product_id}}
                                    </td>
                                    <td class="overflow-hidden w-96" style="width: 100px; !important">
                                        {{this.product_name}}
                                    </td>
                                    <td>
                                        {{this.product_type}}
                                    </td>
                                    <td>
                                        <img src="{{this.product_images.[0].file_path}}" alt="hình ảnh">
                                    </td>
                                    <td>
                                        {{this.product_price}}
                                    </td>
                                    <td>
                                        {{this.product_sale_price}}
                                    </td>
                                    <td>
                                        {{this.product_quantity}}
                                    </td>
                                    <td>
                                        <a href="/cms/update-product/{{this.product_id}}">Sửa</a>
                                        <a href="/cms/delete-product/{{this.product_id}}">Xóa</a>
                                    </td>
                                </tr>
                            </tbody>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>